@use 'inter-ui/default' as inter-ui with (
  $inter-font-display: swap,
  $inter-font-path: 'inter-ui/Inter (web)'
);
@use 'inter-ui/variable' as inter-ui-variable with (
  $inter-font-display: swap,
  $inter-font-path: 'inter-ui/Inter (web)'
);
@include inter-ui.weight-400-normal;
@include inter-ui.weight-500-normal;
@include inter-ui.weight-600-normal;
@include inter-ui.weight-700-normal;
@include inter-ui-variable.normal;

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Inter', 'system-ui';
}

@supports (font-variation-settings: normal) {
  html,
  body {
    font-family: 'Inter var', 'system-ui';
  }
}

body {
  font-size: 100%;
}


.avatar {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: -90px; /* pour faire dépasser l'image de 10px vers le bas */
}

.imgleft {
  left: -30px; /* pour faire dépasser l'image de 10px vers la droite */
}

.imgright {
  right: -30px; /* pour faire dépasser l'image de 10px vers la droite */
}

.posRel {
  position: relative;
  min-width:200px;
}

.paddBottom {
  padding-bottom: 90px;
}

.paddBoutonErreur {
  padding-left:50px;
}

.borderSelect {
  border: 1px solid black;
}

.nomPhilosophe {
  text-align: center;
  font-variant-caps: small-caps;
  font-size: 2rem;
}

.renseignements {
  text-align: center;
  line-height:1.3rem;
  margin-top:1rem;
}
.encadrePhilosophe {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius:20px;
  width:100%;
  line-height:2rem;
  
  background-color: #10a37f;
}

.boutons:hover {
  background-color: #10a37f;
  cursor:pointer;
}

.boutons {
  padding-left:0px;
}

.texteBouton {
  margin:1rem;
  text-align:center;
}

.petitBouton {
  padding-top:0.25rem;
  padding-bottom:0.25rem;
  padding-left:1rem;
  padding-right:1rem;
}

.whiteText {
  color:white;
}

.blackText {
  color:#303030;
}

.containerPhilosophes {
  text-align: center;
  display: inline-block;
  padding:0.5rem;
  cursor:pointer;
  margin:0.875rem;
  --tw-shadow:2px 5px 5px 0 rgb(0 0 0 / .05);
  --tw-border-opacity:0.3;
  border-width:2px;
}

.boxImg {
  vertical-align: middle;
}

.boxP {
  text-align: center;
  font-size:.875rem;
}

.allWidth {
  width:100%;
}

.titreDialog {
  padding-top:1rem;
}

.boiteDialog {
  padding-top:0rem;
}

.grandeBoiteDialog {
  width:650px;
  height:500px;
}

.inactif {
  opacity:0.3;
  cursor:auto;
}