@use 'inter-ui/default' as inter-ui with ($inter-font-display: swap,
  $inter-font-path: 'inter-ui/Inter (web)'
);
@use 'inter-ui/variable' as inter-ui-variable with ($inter-font-display: swap,
  $inter-font-path: 'inter-ui/Inter (web)'
);
@include inter-ui.weight-400-normal;
@include inter-ui.weight-500-normal;
@include inter-ui.weight-600-normal;
@include inter-ui.weight-700-normal;
@include inter-ui-variable.normal;

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Inter', 'system-ui';
}

@supports (font-variation-settings: normal) {

  html,
  body {
    font-family: 'Inter var', 'system-ui';
  }
}

body {
  font-size: 100%;
}


.avatar {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: -90px;
  /* pour faire dépasser l'image de 10px vers le bas */
}

.imgleft {
  left: -30px;
  /* pour faire dépasser l'image de 10px vers la droite */
}

.imgright {
  right: -30px;
  /* pour faire dépasser l'image de 10px vers la droite */
}

.posRel {
  position: relative;
  min-width: 200px;
}

.paddBottom {
  padding-bottom: 90px;
}

.paddBoutonErreur {
  padding-left: 50px;
}

.pmsgConnexionretablie {
  margin-left: 60px;
}

.borderSelect {
  border: 1px solid black;
}

.nomPhilosophe {
  text-align: center;
  font-variant-caps: small-caps;
  font-size: 2rem;
}

.renseignements {
  text-align: center;
  line-height: 1.3rem;
  margin-top: 1rem;
}

.encadrePhilosophe {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 20px;
  width: 100%;
  line-height: 2rem;
  margin-bottom: 30px;
  background-color: #10a37f;
  position: relative;
}

.boutons:hover {
  background-color: #10a37f;
  cursor: pointer;
}

.boutons {
  padding-left: 0px;
  height:100%;
}

.fullHeight {
  height:100%;
}

.cursorAuto {
  cursor:auto;
  text-align: center;
  display: inline-block;
  padding: 0.3rem;
  margin: 0.875rem;
  --tw-shadow: 2px 5px 5px 0 rgb(0 0 0 / .05);
  --tw-border-opacity: 0.3;
  border-width: 2px;
  height:180px;
}

.grandBoiteInfo {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.flexDiv {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row-reverse;
  align-content: center;
  flex-wrap: wrap;
}

.petitsBoutons:hover {
  background-color: #10a37f;
  cursor: pointer;
}

.petitsBoutons {
  padding-left: 0px;
  background-color:#babbbf;
  margin-left:0px;
  border-radius: 0.5rem;
  align-self:center;
  margin-bottom:10px;
}

.texteBouton {
  margin: 1rem;
  text-align: center;
}

.textePetitBouton {
  margin: 0.25rem;
  text-align: center;
}

.petitBouton {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.whiteText {
  color: white;
}

.blackText {
  color: #303030;
}

.containerPhilosophes {
  text-align: center;
  display: inline-block;
  padding: 0.5rem;
  cursor: pointer;
  margin: 0.875rem;
  --tw-shadow: 2px 5px 5px 0 rgb(0 0 0 / .05);
  --tw-border-opacity: 0.3;
  border-width: 2px;
}

.boxImg {
  vertical-align: middle;
}

.boxP {
  text-align: center;
  font-size: .875rem;
}

.allWidth {
  width: 100%;
}

.titreDialog {
  padding-top: 1rem;
}

.titreDialog2 {
  padding-bottom: 1rem;
}

.boiteDialog {
  padding-top: 0rem;
}

.grandeBoiteDialog {
  width: 650px;
  height: 500px;
}
.grandeBoiteDialog2 {
  height:auto;
}

.inactif {
  opacity: 0.3;
  cursor: auto;
}

.container {
  position: relative;
}

.circle-container {
  position: absolute;
  top: -20px;
  right: -20px;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.circle:hover .inner-circle {
  background-color: #10a37f;
}

.inner-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #babbbf;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question-mark {
  font-size: 2.5rem;
  font-family: "Inter var," system-ui"";
}

.moitieHorizontale {
  width: 50%;
  height:100%;
}

.fullHorizontale {
  width: 100%;
  margin:0px;
}

.moitieDroiteInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.displayFlex {
  display: flex;
}

.moitieVerticale {
}

.displayFlex2 {
      bottom: 0;
    position: absolute;
}

.texteInfos2  {
  text-align: justify;
  font-size: 0.875rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  position:relative;
}

.texteInfos  {
  text-align: justify;
  font-size: 0.875rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.imgInfo {
  display: block;
  margin: auto;
  width: 300px;
  height: 400px;
  border-radius: 20px;
}

.styleInfo {
  font-variant-caps:normal;
  font-size:1rem;
}