@use 'inter-ui/default' as inter-ui with (
  $inter-font-display: swap,
  $inter-font-path: 'inter-ui/Inter (web)'
);
@use 'inter-ui/variable' as inter-ui-variable with (
  $inter-font-display: swap,
  $inter-font-path: 'inter-ui/Inter (web)'
);
@include inter-ui.weight-400-normal;
@include inter-ui.weight-500-normal;
@include inter-ui.weight-600-normal;
@include inter-ui.weight-700-normal;
@include inter-ui-variable.normal;

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Inter', 'system-ui';
}

@supports (font-variation-settings: normal) {
  html,
  body {
    font-family: 'Inter var', 'system-ui';
  }
}

body {
  font-size: 100%;
}


.avatar {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: -90px; /* pour faire dépasser l'image de 10px vers le bas */
}

.imgleft {
  left: -30px; /* pour faire dépasser l'image de 10px vers la droite */
}

.imgright {
  right: -30px; /* pour faire dépasser l'image de 10px vers la droite */
}

.posRel {
  position: relative;
  min-width:200px;
}

.paddBottom {
  padding-bottom: 90px;
}

.paddBoutonErreur {
  padding-left:50px;
}

.borderSelect {
  border: 1px solid black;
}