.chatSearch {
    background-color: white;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
}

@media screen and (max-width: 767px) {
    .chatSearch {
        overflow-y: auto;
        scrollbar-width: thin;
        flex: 1;
        background-color: #f4f4f4;
    }
}

.titreClassSearch {
    padding: 0 19px;
    font-size: 22px;
    font-weight: 700;
    background-color: white;
    height: 67px;
    box-sizing: border-box;
    display: flex;
    align-items: center;

}


.titreClassSearch.mobileShow {
    color:#195da9;

}

@media screen and (max-width: 767px) {
    .titreClassSearch {
        padding: 15px 20px 18px 20px;
    }
}

.searchZone {
    display: flex;
    flex: 1;
    height: 35px;
    padding: 0px 12px;
    background-color: white;
}

.iconesSearch {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 13px;
    box-sizing: border-box;
}

.iconeSVG {
    height: 100%;
    display: flex;
    align-items: center;
}

.iFleche {
    color: #195da9;
    cursor: pointer;
}

.inSearchZone {
    flex: 1;
    background-color: #F0F2F5;
    padding: 0px 32px 0 0px;
    height: 35px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.inputSearch {
    background-color: inherit;
    border: 0;
    flex: 1;
    height: 20px;
    font-size: 15px;
    color: #3B4A54;
}

.inputSearch:focus {
    outline: none;
}

.searchTagsDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7px;
    min-height: 20px;
    flex-shrink: 1;
    box-sizing: border-box;
    overflow: hidden;
}

.chevron {
    display: flex;
    height: 24px;
    width: 24px;
}

.chevron.actif {
    cursor:pointer;
}

.chevron:hover svg {
    fill: #195da9;
}

.current-value {
    color: #54656F;
    font-weight: normal;
    font-size: 15px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 10px;
    transition: transform 0.2s ease-out;
}

.swipe-left {
    transform: translateX(-180px);
}

.swipe-right {
    transform: translateX(180px);
}

.reset-position-left {
    transform: translateX(-180px); /* Se positionne à gauche sans transition */
    transition: none;
}

.reset-position-right {
    transform: translateX(180px); /* Se positionne à droite sans transition */
    transition: none;
}

.swipe-center {
    transform: translateX(0);
    transition: transform 0.2s ease-out;
}


.gradient-overlay {
    flex:1;
    z-index: 2;
    height: 100%;
    display:flex;
    align-items: center;
}

.left {
    left: 0;
    justify-content: flex-end;
    background-color:white;
}

.right {
    right: 0;
    background-color:white;
}

.cache {
    width:20px;
    height:100%;
    z-index:3;
}

.cLeft {
    left: 0;
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
}

.cRight {
    left: 0;
    background: linear-gradient(to left, white 0%, rgba(255, 255, 255, 0) 100%);
}

.iconeMenu {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    justify-content: center;
    color: #54656f;
    height: 40px;
    width: 40px;
    cursor:pointer;
    border-radius:50%;

    transition:all 0.2s ease;
}

.iconeMenu.actif {
    background-color:#195da9;
    color:white!important;
}

.allIcones {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: end;
    padding-right: 15px;
    background-color: white;
}

.create-group-arrow {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #195da9;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    z-index: 4;
    height: 46px;
    width: 46px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease, opacity 0.2s ease;
    transform: scale(0); /* Etat initial */
    opacity: 0; /* Etat initial */
        display:flex;
    padding: 4px 0 0 1px;
    box-sizing: border-box;
}

.create-group-arrow.OKactif {
    transform:scale(1);
    opacity:1;
}

.create-group-arrow.OKinactif {
    transform:scale(0);
    opacity:0;
}

.nouveauGroupe {
    font-size:19px;
  }

  .nbPhilosophes {
    font-weight:normal;
    font-size:14px;
  }

  .flecheRetour {
    margin-right: 10px;
  }