.boutonParametresEleve {
    cursor:pointer;
    transition:all 0.2s ease;
    filter: opacity(0.3);
}

.boutonParametresEleve:hover {
    filter:opacity(1);
}

@keyframes expand {
    0% {
      transform: scale(0);
      opacity: 0;
      transform-origin: bottom left;
    }
    100% {
      transform: scale(1);
      opacity: 1;
      transform-origin: bottom left;
    }
  }
  
  @keyframes collapse {
    0% {
      transform: scale(1);
      opacity: 1;
      transform-origin: bottom left;
    }
    100% {
      transform: scale(0);
      opacity: 0;
      transform-origin: bottom left;
    }
  }

  @keyframes expandR {
    0% {
      transform: scale(0);
      opacity: 0;
      transform-origin: bottom right;
    }
    100% {
      transform: scale(1);
      opacity: 1;
      transform-origin: bottom right;
    }
  }
  
  @keyframes collapseR {
    0% {
      transform: scale(1);
      opacity: 1;
      transform-origin: bottom right;
    }
    100% {
      transform: scale(0);
      opacity: 0;
      transform-origin: bottom right;
    }
  }
  
  .popupDiv {
    position: absolute;
    width: 350px;
    height: 200px;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    opacity: 0;
    transform: scale(0);
    transform-origin: bottom left;
    border-radius:20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  }

  .popupDivR {
    position: absolute;
    width: 700px;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    opacity: 0;
    transform: scale(0);
    transform-origin: bottom right;
    border-radius:20px;
    padding: 15px 10px 15px 15px;
      display: flex;

  }

  .innerPopupRight {
    width:100%;
    height:100%;
    max-height: 400px;
    display:flex;
    flex-direction: column;
    gap: 11px;
    overflow-y:auto;
    scrollbar-width: thin;
  }
  
  .popupDiv.show {
    animation: expand 0.1s forwards;
  }
  
  .popupDiv.hide {
    animation: collapse 0.1s forwards;
  }

  .popupDivR.show {
    animation: expandR 0.1s forwards;
  }
  
  .popupDivR.hide {
    animation: collapseR 0.1s forwards;
  }
  

  .slider-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex:1;
  }
  
  .slider-title {
    font-size: 16px;
  }
  
  .rc-slider {
    position: relative;
    width: 90%;
    height: 14px;
    padding: 5px 0px;
    border-radius: 6px;
    touch-action: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    align-self: center;
  }

  .rc-slider-mark-text {
    width: 100%;
  }