.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    
  }
  
  .modal-content {
    background-color: white;
    width: 500px;
    height: 175px;
    padding: 22px 24px 20px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    text-align: center;
    box-sizing: border-box;
    max-width: 90%;
  }
  
  .titreModal {
    margin: 0 0 20px;
    color: #3B4A54;
    font-size: 20px;
    text-align: left;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: flex-end;
    padding: 50px 5px 0;
    gap: 16px;
  }
  

  .cancel-button {
    background-color: white;
    color: #195da9;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 24px;
    border: none;
    cursor: pointer;
    transition: box-shadow 0.2s;
    border-radius:24px;
    outline:1px solid #dce2ea;
  }
  
  .cancel-button:hover {
    box-shadow: 0 2px 7px rgba(11, 20, 26, 0.09), 0 1px 2px rgba(11, 20, 26, 0.05);
  }
  
  .confirm-button {
    background-color: #195da9;
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 24px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
    border-radius:24px;

  }
  
  .confirm-button:hover {
    background-color: #164a7e;
  }
  