.create-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    height: 105px; /* Hauteur initiale quand il n'y a pas de philosophes */

    background-color: white;
    transition: height 0.2s ease-out; /* Transition de la hauteur */
    flex-shrink: 0; /* Empêche la réduction de hauteur pendant la transition */
    position:relative;
}

.msgGroupe {
  position: absolute;
  width: 100%;
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}



.msgInfo {
  background-color: #F0F2F5;
    padding: 10px 20px;
    border-radius: 8px;
    color: #667781;
    font-size: 14px;
    animation: scale-in 0.6s ease-out, pulse 2s infinite; /* Applique l'animation en boucle infinie */
    transform-origin: center center;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    text-rendering: optimizeLegibility;
    box-shadow: 0 1px .5px rgba(11, 20, 26, .13);
}

@keyframes scale-in {
  0% {
    transform: scale(0);
    opacity: 0; /* Pour un effet d'apparition plus fluide */
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1); /* Agrandit le div de 10% */
  }
  100% {
    transform: scale(1);
  }
}

.create-group > div:first-of-type {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background-color: white;
    /* height: 0; */
    padding: 0 15px;
    transition: height 0.3s ease-out;
}


.selected-philosopher {
    text-align: center;
    width: 70px;
    height: 95px;
    cursor: pointer;
    animation: scaleUp 0.2s ease-out;
    margin : 0 0 10px 0;
}

.selected-philosopher.hide {
    animation: scaleDown 0.2s ease-out forwards;
}


@keyframes scaleUp {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes scaleDown {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(0);
      opacity: 0;
      visibility: hidden;
    }
  }
  
  

.philosopher-image {
    position: relative;
    width: 70px;
    height: 70px;

}

.philosopher-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.remove-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #a0a0a0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.philosopher-name {
    margin-top: 5px;
    font-size: 14px;
    color: #333;
}