.dropdown-container {
    padding: 10px 12px 20px 12px;
    display: flex;
    flex: 1 1;
    gap: 10px;
    background-color: white;
}

.dropbtn {
    background-color: #F0F2F5;
    color: white;
    padding: 5px 16px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 8px;
    color: #3B4A54;
}

.dropbtn:hover {
    background-color: #F0F2F5;
}

.chevron-svg {
    margin-left: 10px;
    transition: transform 0.2s ease;
}

.chevron-svg.rotate {
    transform: rotate(180deg);
}

.dropdown-content {
    background-color: white;
    border: 1px solid #ddd;
    z-index: 1000;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    border-radius: 8px;
    transform-origin: top left;
    transform: scaleX(0) scaleY(0);
    transition: transform 0.2s ease;
}

.dropdown-content div {
    transform: opacity 0.1s ease;
}

.dropdown-content.displayMenu {
    transform: scaleX(1) scaleY(1);
}

.dropdown-content.hideMenu {
    transform: scaleX(0) scaleY(0);
}

.dropdown-content.displayMenu div {
    opacity:1;
}

.dropdown-content.hideMenu div {
    opacity:0;
}

.dropdown-option {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.dropdown-option:hover {
    background-color: #f1f1f1;
}

.checkmark-svg {
    width: 16px;
    height: 16px;
    margin-left: 10px;
}

.menuGroupes {
    color: #195da9;
    font-weight: 700;
}
