:root {
    --main-color: #ecf0f1;
    --point-color: #555;
    --size: 3px;
  }
  
  .loader {
    overflow: hidden;
    top: 0; left: 0;
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: left;  
  }
  
  .loader__element {
    border-radius: 100%;
    border: var(--size) solid var(--point-color);
    margin: calc(var(--size)*2);
  }
  
  .loader__element:nth-child(1) {
    animation: preloader .6s ease-in-out alternate infinite;
  }
  .loader__element:nth-child(2) {
    animation: preloader .6s ease-in-out alternate .2s infinite;
  }
  
  .loader__element:nth-child(3) {
    animation: preloader .6s ease-in-out alternate .4s infinite;
  }
  
  @keyframes preloader {
    100% { transform: scale(2); }
  }