.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto; /* Active le défilement si le contenu dépasse la hauteur */
  flex-grow: 1;
  height: 100%;
  background-color: #f4f4f4;
  scrollbar-width: thin;
}

@media screen and (max-width: 767px) {
  .sidebar {
      overflow-y: visible;
      scrollbar-width: thin;
  }
}

.chatHistory {
  width: 100%;
  height: 72px; /* Hauteur normale */
  opacity: 1;
  padding: 0;
  flex-shrink: 0;
  box-sizing: border-box;
  align-content: center;
  cursor: pointer;
  overflow: hidden;
  transition: height 0.5s ease, opacity 0.5s ease;
}

.chatHistory.noheight {
  height: 0;
  opacity: 0;
  border: none;
  padding: 0;
  margin: 0;
}

.notactive {
  background-color: white;
}

.notactive:hover {
  background-color: #f5f6f6;
}

.active {
  background-color: #f0f2f5;
}

.profilePicMenu {
  align-items: center;
  height: 100%;
  align-content: center;
  padding: 0 15px 0 13px;
  position: relative;
}

.imgMenu {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  vertical-align: middle;
}

.imgMenu.multi {
  outline: 2px solid white;
}

.divMainHistory {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  position:relative;
}

.chatHistory.disabled {
  background-color: #ffffff;
  color: #a0a0a0;
  opacity: 0.3;
  cursor: not-allowed !important;
}

.nomEtMessage {
  align-content: center;
  flex: 1 1;
  border-bottom: 2px solid #e9edef;
  left: 75px;
  height: 72px;
  padding-right:15px;
}

.lastMessage {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  font-size: 14px;
  color: #667781;
  flex-shrink: 1; /* Ajout de flex-shrink pour permettre le rétrécissement */
  flex-wrap: nowrap;
}

.philosopherName {
  font-size: 17px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}


.foundText {
  color: #195da9;
  font-weight: bold;
}

.sidebar > div {
  width: 100%;
}

.chatHistory {
  width: 100%;
}

@keyframes scaleUp {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scaleDown {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
    visibility: hidden;
  }
}

.selected-checkmark {
  position: absolute;
  margin-top: -18px;
  margin-left: 40px;
  background-color: #195da9;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
  outline: 3px solid #d3e7fd;

  /* Animation pour l'apparition */
  animation: scaleUp 0.2s ease-out;
}

.selected-checkmark.hide {
  /* Animation pour la disparition */
  animation: scaleDown 0.1s ease-out forwards;
}


.multiImageBig {
  margin-left: -40px; /* Ajuster pour gérer le chevauchement des images */
}

.marginGroup3 {
  margin-left: 30px;
}

.marginGroup2 {
  margin-left: 35px;
}

.marginGroupText3 {
  margin-left: -10px;
}

.marginGroupText2 {
  margin-left: -5px;
}

.containerHeure {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; /* Assure un alignement vertical central */
}

.heure {
  margin:3px 0px 0px 6px;
  color:#667781;
  font-size:12px;
}


.writingStyle {
  color:#195da9!important;
  font-weight:700;
}

.unreadMsg {
  font-weight:500;
  color: #111B21

}

.unreadIntervention {
  font-weight:500;
color: #3B4A54
}

.heureUnread {
  color:#195da9;
  font-weight:500;
}

.nombreMessage {
  background-color: #195da9;
  border-radius: 50%;
  width: 18.4px;
  height: 18.4px;
  color: white;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding-right: 1px;
  box-sizing: border-box;
  padding-bottom: 1px;
}