.suggestions {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
  margin-top: 5px;
  max-width: 800px;
  min-height: 25px;
}

.suggestion-btn {
  position: relative;
  height: 100%;
  text-align: center;
  flex: 1 1;
  box-sizing: border-box;
  font-size: 13px;
  padding: 5px;
  cursor: pointer;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  transition: background-color 0.3s ease, opacity 0.2s ease, transform 0.2s ease;
  opacity: 1;
}

.suggestion-btn.active {
  opacity: 0;
  transform: scale(0.8);
}

.suggestion-btn.fade-in {
  opacity: 0; /* On commence avec un div caché */
  animation: fadeIn 0.2s forwards; /* Animation pour le fade-in */
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.suggestion-btn:hover {
  background-color: #e0e0e0;
}

@media screen and (max-width: 767px) {
  .suggestion-btn {
    font-size: 14px;
  }
}

.suggestion_container::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 1px;
  background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMXB4IiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEwMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHJlY3Qgd2lkdGg9IjEiIGhlaWdodD0iMTAwJSIgZmlsbD0iI0JCQkJCQiIvPgo8L3N2Zz4=') no-repeat;
  /*ci-dessus : la séparation entre les suggestions. Il y a peut être une solution plus économique que cette conversion d'un svg en base64, mais ma fois ça marche */
  background-size: contain;
}

.suggestion_container:last-child::before {
  display: none; /* Supprime la bordure du dernier élément */
}
  

.suggestion_container {
  position: relative;
  height: 100%;
  flex: 1 1;
  box-sizing: border-box;
}


@media (hover: hover) {
    .suggestion-btn:hover {
        background-color: #dddddd;
    }
}

@media (hover: none) {
    .suggestion-btn:hover {
        background-color: initial;
    }
}