@media screen and (min-width: 1201px) {
  .background::after {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 0;
      width: 100%;
      height: 127px;
      content: "";
      background-color: #195da9;
  }
}

* {
  z-index:1;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

}



body {
  font-size:16px;

}

.background {
  background-color: #e0e0e0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size:24px;
  margin-top:15px;
  margin-bottom:15px;
}

.app-container {
  display: flex;
  width: calc(100% - 38px);
  max-width: 1600px;
  height: calc(100% - 38px);
  min-height: 300px;
  background-color: #f4f4f4;
  border-radius: 0px;
  padding: 0px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
  position: fixed;
  overflow: hidden; /* Empêche les éléments enfants de dépasser */
}

@media screen and (max-width: 1200px) {
  .app-container {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #f4f4f4;
    border-radius: 0px;
    padding: 0px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index:1;
  }
}

p {
  margin:0;
  user-select:text;
}

.left-menu {
  width: 30%;
  min-width: 315px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  height: 100%; /* Assure que la sidebar ne dépasse pas la hauteur de app-container */
  position:relative;
}

.right-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  border-radius: 0px;
  padding: 0;
  position: relative;
  width: 100%;
  transition: width 0.3s ease-out; /* Transition pour un changement de largeur fluide */
  overflow:hidden;
}





button {
  background-color: #195da9;
  font-size:16px;

    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;

}

button:hover {
    background-color: #164a7e;
  
}

.affichageChat {
  width: 100%; /* Par défaut, occupe toute la largeur */
  transition: width 0.3s ease-out;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1201px) {
  .right-content.show-infos .affichageChat {
    width: 60%; /* Réduit à 50% quand voletDroite est visible */
  }

  .right-content.show-infos .voletDroite {
    width: 40%;
    transform: translateX(0); /* Se déplace à la position finale (visible) */
  }
}

/* Quand voletDroite est inactif et l'écran est large (min-width: 1201px) */
@media screen and (min-width: 1201px) {
  .right-content .voletDroite {
    width: 50%;
    transform: translateX(100%); /* Position de départ en dehors de l'écran */
  }
}

/* Styles pour les écrans de largeur inférieure (max-width: 1200px) */
@media screen and (max-width: 1200px) {
  .right-content .affichageChat {
    width: 100%;
  }

  .right-content .voletDroite {
    width: 100%;
    transform: translateX(100%); /* Par défaut, caché */
  }

  .right-content.show-infos .voletDroite {
    transform: translateX(0); /* Pleine largeur et visible */
  }

  .app-container {
    top:0;
  }
}



.titreEtCroix {
  height:60px;
  padding:0 20px 0 25px;
  display:flex;
  align-items: center;
  flex-shrink: 0;
}

.fermerCroix {
  margin-right:30px;
  cursor:pointer;
}

.titre {
  font-size:16px;
  color:#111B21;
  margin-top: -5px;
}



.searchTag {
  border-radius: 16px;
  font-size: 14px;
  font-weight: normal;
  padding: 6px 12px;
  height: 32px;
  box-sizing: border-box;
  flex-shrink: 0;
  align-content: center;
  text-align: center;
  cursor:pointer;
}

.searchTag.bleu {
  background-color: #d3e7fd;
  width: 80px;

}

.searchTag.gris {
  background-color: #f0f2f5;
}

.searchTag.gris:hover {
  background-color:#e9edef;
}

.searchTag.disabled {
  background-color: #f0f2f5;
  color:rgb(181, 181, 181);
  cursor: not-allowed;
}


@media screen and (max-width: 767px) {
  .left-menu {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    transition: transform 0.3s ease-out;
  }

  .right-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 1;
    transition: transform 0.3s ease-out;
  }

  .right-content.show-infos {
    left: 0;
  }

  .left-menu.hidden {
    transform: translateX(-100%);
  }
  
  .texteInputELEVEONLY {
    height:40px!important;
    padding:10px!important;
  }
  .inputzoneELEVEONLY {
    padding: 15px 5px !important;
  }
  .parametresEleve {
    padding:20px 30px 20px 35px!important;
  }
  .popupDiv {
    width: 300px !important;
    height: 220px;
    max-width: 95%;
    overflow:hidden!important;
  }
  .slider-title {
    font-size:14px!important;
    margin-left:-5px!important;
    margin-bottom:5px!important;
  }
  .rc-slider-handle {
    width: 30px!important;
    height:30px!important;
    margin-top:-14px!important;
  }
  .rc-slider-rail {
    height:7px!important;
    margin-top:-1px!important;
  }
  .rc-slider-step {
    height:7px!important;
    margin-top:-1px!important;

  }
  .rc-slider-dot {
    width: 20px!important;
    height: 20px!important;
    bottom:-6px!important;
  }
  .sujetMobile {
    margin-top: 10px!important;
    background-color: white!important;
    border-radius: 10px!important;
    padding: 10px 20px!important;
    border: 1px solid #ccc!important;
    box-shadow: 0 2px 2px #0000001a!important;
    margin-bottom: 5px!important;
    font-weight: normal!important;
  }

  .parametresEleve {
    padding:20px 30px 20px 35px!important;
  }
  .popupDivR {
    max-width: 95%;
  }
}

.parametresEleve {
  padding:20px 40px;
}

@media screen and (max-width: 767px) {
  .right-content.show-infos .voletDroite.voletInactif {
    transform: translateX(100%)!important;
  }
  .right-content {
    left:0;
  }
  .voletDroite.voletActif {
    transform: translateX(0)!important;
  }
  .mobileShow {
    display:flex!important;
  }
  .largeShow {
    display:none!important;
  }
}

@media screen and (min-width: 767px) {
  .mobileShow {
    display:none!important;
  }
  .largeShow {
    display:flex!important;
  }
}



.voletDroite {
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-out;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  background-color: #f4f4f4;
  transform: translateX(100%); /* Position de départ en dehors de l'écran */
  overflow: auto;
  scrollbar-width: thin;
}

.boxInfos {
  background-color:white;
      box-shadow: 0 2px 4px rgba(138, 138, 138, 0.1);
      margin:0 0 10px;
      display: flex;
      justify-content: center;
      flex-direction: column;
}


.voletActif {
  transform: translateX(0); /* Se déplace à la position finale (visible) */
}

.voletInactif {
  transform: translateX(100%); /* Retourne à la position de départ (caché) */
}

@media screen and (min-width: 1201px) {
  .voletDroite {
    width: 50%;
  }
}

@media screen and (max-width: 1200px) {
  .voletDroite {
    width: 100%;
  }
}


.imageEtNom {
  padding: 28px 30px 19px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.image {
  height:200px;
  width:200px;
  border-radius:50%;
  margin : 0 0 15px;
  cursor:pointer;
}

.allInfos {

  padding:28px 30px 19px;
  display: flex;
  align-items: center;
}

.infos {
  padding:17px 30px 19px;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.modalOverlay.show {
  opacity: 1;
}

.modalContent {
  position: relative;
  transform: scale(0.8);
  transition: transform 0.3s ease;
}

.modalOverlay.show .modalContent {
  transform: scale(1);
}

.largeImage {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transition: width 0.3s ease, height 0.3s ease, border-radius 0.3s ease;
}

.modalOverlay.show .largeImage {
  width: 640px;
  height: 640px;
  border-radius: 0;
}

.closeButton {
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1001;
}


.philoGroupInfo {
display: flex;
margin-bottom:30px;
cursor: pointer;
}

.infosGroupePhi {
margin-left: 20px;
flex: 1;
align-content: center;
}

.imageGroup {
height:100px;
width:100px;
border-radius:50%;
cursor:pointer;
}

.iconeMessage{
color:inherit;

}


.iconeMessageContainer{
color: #195da9;
height: 50px;
width: 50px;
display: flex;
justify-content: center;
}
/*.iconeMessageContainer:hover{
background-color: #F0F2F5;
border-radius:50%;
}*/


.textMessage {
font-size:13px;
color: #195da9;

}

.containerIcone {
color: #195da9;
cursor:pointer;
}

.containerIcone:hover .iconeMessageContainer {
background-color: #F0F2F5;
border-radius:50%;

}