.source {
    border-radius: 15px;
    background-color: #ffffff;
    padding: 15px;
    box-shadow: 0 1px .5px rgba(11, 20, 26, .13);
    font-size: 13px;
    text-align: justify;
    margin-top: 20px;
    user-select: text;
  }

.source-content * {
  user-select: text;
}

.source-content {
  margin: 0 20px;
}

  @media screen and (max-width: 767px) {
    .source {
        font-size: 14px!important;
    }
  }
  
  .buttons-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .source-button {
    background-color: #d7d7d7;
    border: none;
    color: black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .source-button:hover {
    background-color: #54656f;
    color: white;
  }
  
  .source-button.active {
    background-color: #195da9;
    color: white;
  }
  
  .no-sources-message {
    text-align: left;
    text-align:justify;
    font-size: 16px;
    color: #999;
    margin-top: 20px;
  }
  
  /* Animation de chargement */
  .loading-container {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .loading-spinner {
    width: 100px;
    height: 100px;
    border: 8px solid #e0e0e0;
    border-top: 10px solid #195da9;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    flex-shrink: 0;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  